.cooperation {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-content: center;
    flex-wrap: nowrap;
    // > div {
    //     min-height: 120px;
    //     width: 16%;
    // }
    .join {
        border: 1px solid #ff6d00;
        background-color: #ffa800;
        color: #fff;
        font-size: 1.2em;
        width: 12%;
        padding: 12px 0;
        text-decoration: none;
    }
}

// .ab {
//     background: url('./image/AB.png') no-repeat center center;
// }

// .ag {
//     background: url('./image/AG.png') no-repeat center center;
// }

// .bbin {
//     background: url('./image/bbin.png') no-repeat center center;
// }

// .ds {
//     background: url('./image/DS.png') no-repeat center center;
// }

// .lebo {
//     background: url('./image/LEBO.png') no-repeat center center;
// }

// .mg {
//     background: url('./image/MG.png') no-repeat center center;
// }

// .mwg {
//     background: url('./image/MWG.png') no-repeat center center;
// }

// .og {
//     background: url('./image/OG.png') no-repeat center center;
// }

// .opus {
//     background: url('./image/OPUS.png') no-repeat center center;
// }

// .pt {
//     background: url('./image/PT.png') no-repeat center center;
// }

// .soon {
//     background: url('./image/comingsoonLogo.png') no-repeat center center;
// }